<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>107962873897-4luhpbrnfd6go98ak2g4lvn7lvjr0gfb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.107962873897-4luhpbrnfd6go98ak2g4lvn7lvjr0gfb</string>
	<key>API_KEY</key>
	<string>AIzaSyBWR597yxjFZmvmAP5fzNhEmiRbNcBmR84</string>
	<key>GCM_SENDER_ID</key>
	<string>107962873897</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.DevCon.MuviSelecta</string>
	<key>PROJECT_ID</key>
	<string>muviselecta</string>
	<key>STORAGE_BUCKET</key>
	<string>muviselecta.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:107962873897:ios:fbd24524b864a68de78438</string>
</dict>
</plist>